<div class="container">
  <header class="pageHeader">
    <h3><i class="fa fa-road fa-lg page-caption" aria-hidden="true"></i> Facturación
    </h3>
  </header>
  <div [@fadeInOut]>
    <!---- Sample Page Content ---->
    <div>
      <div class="row control-box">
        <div class="col-lg-8">
          <div class="form-group search-box">
            <search-box (searchChange)="onSearchChanged($event)" placeholder="Buscar por concesionaria ... ">>
            </search-box>
          </div>
        </div>
      </div>
    </div>

    <ngx-datatable class="material colored-header sm table-hover" [loadingIndicator]="loadingIndicator" [rows]="rows"
      [rowHeight]="35" [headerHeight]="35" [footerHeight]="35" [columns]="columns" [columnMode]="force"  [externalPaging]="true">

      <ngx-datatable-footer>
        <ng-template
          ngx-datatable-footer-template
          let-rowCount="1"
          let-pageSize="10"
          let-selectedCount="selectedCount"
          let-curPage="1"
          let-offset="offset"
          let-isVisible="isVisible">

            <datatable-pager
                [pagerLeftArrowIcon]="'datatable-icon-left'"
                [pagerRightArrowIcon]="'datatable-icon-right'"
                [pagerPreviousIcon]="'datatable-icon-prev'"
                [pagerNextIcon]="'datatable-icon-skip'"
                [page]="curPage"
                [size]="pageSize"
                [count]="rowCount"
                [hidden]="!((rowCount / pageSize) > 1)"                 >
            </datatable-pager>
        </ng-template>
      </ngx-datatable-footer>

    </ngx-datatable>

    <ng-template #indexTemplate let-value="value">
      <strong>{{value}}</strong>
    </ng-template>

    <ng-template #nameTemplate let-row="row" let-value="value">
      <span class="inline-label">
        {{value}}
      </span>
    </ng-template>

    <ng-template #actionsTemplate let-row="row" let-value="value" let-i="index">
      <div *ngIf="canManageVehicles">
        <a class="btn btn-link btn-sm" href="javascript:;"  ><i class="fa fa-pencil-square-o"
            aria-hidden="true"></i> Configurar</a>
      </div>
    </ng-template>

    <router-outlet></router-outlet>
  </div>
</div>
