<div class="container">
  <header class="pageHeader">
    <h3><i class="fa fa-car fa-lg page-caption" aria-hidden="true"></i> Facturación
    </h3>
  </header>
  <div [@fadeInOut]>
    <!---- Sample Page Content ---->
    <div>
      <div class="row control-box">
        <div class="col-lg-4">
          <div class="form-group search-box">
            <search-box (searchChange)="onSearchChanged($event)" placeholder="Buscar por concesionaria ... ">>
            </search-box>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group search-box">
            <input class="form-control" placeholder='dd/MM/yyyy' name="dp" bootstrapDatepicker>
          </div>
        </div>
      </div>
    </div>

    <registration-list #gridRegistration> </registration-list>

    <router-outlet></router-outlet>
  </div>
</div>
