<div class="container">
    <header class="pageHeader">
        <h3><i class="fa fa-shopping-cart fa-lg page-caption" aria-hidden="true"></i>
            {{'pageHeader.Process' | translate}}</h3>
    </header>

    <div [@fadeInOut]>
        <span class="text-muted">-- Sample Page --</span>

        <div style="text-align:center">

            <div class="card" style="margin-left:50px; margin-right:50px; margin-bottom:50px;">
                <div class="card-header" style="font-weight:bold; font-size:x-large;">
                    C# Corner Latest Posts from RSS Feeds
                </div>
                <div class="card-body">
                    <div class="table-responsive" style="max-height:385px;">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>