<div class="container">
  <header class="pageHeader">
    <h3><i class="fa fa-shopping-cart fa-lg page-caption" aria-hidden="true"></i>
      {{'pageHeader.Process' | translate}}</h3>
  </header>
  <div [@fadeInOut]>

    <div class="mb-2">
      <progressbar [max]="max" [value]="dynamic">
        <span class="text-nowrap">{{dynamic}} / {{max}}</span>
      </progressbar>
      <small><em>{{text}}</em></small>
    </div>
    <div class="mb-2">
      <progressbar [animate]="false" [value]="dynamic" type="success"><b>{{dynamic}}%</b></progressbar>
      <small><em>{{text}}</em></small>
    </div>
    <div class="mb-3">
      <progressbar class="progress-striped active" [value]="dynamic" [type]="type">{{text}}</progressbar>
    </div>
    <button type="button" class="btn btn-sm btn-primary" (click)="random()">Randomize</button>
  </div>
  <div class="mb-2">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" [src]="urlSafe"></iframe>
    </div>
  </div>
</div>
