<div class="row statistics-container">
  <div class="col-md-6">
    <h5 class="text-muted d-inline-block">Concesarionaria Mayor Consumo</h5>
    <div class="chart-container">
      <canvas baseChart
              [datasets]="chartData"
              [labels]="chartLabels"
              [options]="chartOptions"
              [colors]="chartColors"
              [legend]="chartLegend"
              [chartType]="chartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>

  <div class="col-md-6">
    <h5 class="text-muted d-inline-block">Vehiculo Mayor consumo</h5>
    <div class="chart-container">
      <canvas baseChart
              [datasets]="chartData"
              [labels]="chartLabels"
              [options]="chartOptions"
              [colors]="chartColors"
              [legend]="chartLegend"
              [chartType]="chartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
</div>
