/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [Id]
      ,[Date]
      ,[Voucher]
      ,[PointOfSale]
      ,[CurrentAccount]
      ,[CAE]
      ,[Subtotal]
      ,[IVAIns]
      ,[IVARni]
      ,[IVARG3337]
      ,[IIBB]
      ,[Total]
      ,[ConcessionaryId]
  FROM [TeleQuick].[dbo].[InvoiceHeaders]

  /****** Script for SelectTopNRows command from SSMS  ******/
SELECT   [Id]
      ,[Date]
      ,[Hour]
      ,[Quantity]
      ,[TollStation]
      ,[Way]
      ,[Categoria]
      ,[Total]
      ,[InvoiceHeaderId]
      ,[VehicleId]
  FROM [TeleQuick].[dbo].[InvoiceDetails]