<div class="container">
  <header class="pageHeader">
    <h3><i class="fa fa-gg fa-lg page-caption" aria-hidden="true"></i> Facturación
    </h3>
  </header>
  <div [@fadeInOut]>
    <!---- Sample Page Content ---->
    <div>
      <div class="row control-box">
        <div class="col-lg-12">
          <div class="form-group search-box">
            <search-box-dates (searchChange)="onSearchChanged($event)" placeholder="Buscar por concesionaria ... ">
            </search-box-dates>
          </div>
        </div>
      </div>
    </div>

    <ngx-datatable class="material colored-header sm table-hover" [loadingIndicator]="loadingIndicator" [rows]="rows"
      [columns]="columns" [columnMode]="force" [headerHeight]="35" [footerHeight]="35" [rowHeight]="35" [limit]="5"
      [messages]="messagesCustom" [selected]="selected" [selectionType]="selectionType" (select)="onSelect($event)">
    </ngx-datatable>

    <ng-template #dateTemplate let-value="value">
      {{value | date:'dd/MM/yyyy'}}
    </ng-template>

    <ng-template #currencyTemplate let-value="value">
      {{value | currency:'ARS':'symbol' }}
    </ng-template>

    <registration-list #gridRegistration> </registration-list>

    <router-outlet></router-outlet>
  </div>
</div>
